.login-container{
    margin-left: 450px;
    margin-top: 80px;
    background-image: linear-gradient(to bottom, rgb(3, 173, 252) , rgb(3, 252, 240));
    height: 400px;
    width: 400px;
}
h1{
   text-align: center;
   padding-top: 20px;
   font-size: 40px;
   font-weight: bold;
}
.content{
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.user{
    padding: 40px;
    width: 100%;  
}
.pass{
    width: 250%;
    padding-left: 40px;
}
.btn{
    margin-top: 30px;
    margin-left: 40%;
    padding: 10px;
    justify-content: center;
    font-weight: bold;
}